{% extends "base.html" %} {% block content %} {% load static %}

<!-- index.html content starts here -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 mb-4">
      <div class="row d-flex m-4" style="justify-content: center">
        {% if user.is_authenticated %}
        <div class="col-12 m-4 text-end m-3">
          <a
            href="{% url 'post_create' %}"
            class="btn btn-primary btn-sm text-light"
            ><i class="fa-regular fa-plus light"></i> Add Post
          </a>
        </div>

        {% endif %} {% for post in post_list %}
        <div class="card post col-12 col-md-6 col-lg-3 p-3 m-3 text-center">
          <a href="{% url 'post_detail' post.slug %}" {% if post.image %}
            ><img
              src="{{ post.image.url }}"
              class="card-image img-fluid"
              alt="{{post.title}}"
              style="height: 300px"
            />
            {% else %} ><img
              src="{% static 'images/default.jpg' %}"
              class="img-fluid rounded p-3"
              alt="{{post.title}}"
              style="height: 350px"
            />
            {% endif %}
          </a>
          <div class="card-body row text-center">
            <a href="{% url 'post_detail' post.slug %}" class="link-light"
              ><h3 class="card-title">
                {{ post.title }} <br />
                <span class="fs-5">written by {{ post.author }}</span>
              </h3></a
            >
            <hr />
            <p class="card-text fs-6 col-6">
              <i class="fa-solid fa-dice"></i> {{ post.get_genre_display }}
              <br />
              <i class="fa-solid fa-clock"></i>
              {{ post.get_play_time_display }} <br />
              <i class="fa-solid fa-people-group"></i>
              {{ post.get_number_of_players_display }} <br />
            </p>
            <p class="card-text fs-6 col-6">
              Age: {{ post.get_age_range_display }} <br />
              Experience: {{ post.get_experience_display }} <br />
              Cost: {{ post.get_price_range_display }} <br />
            </p>
            <hr />
            <p class="card-text fs-6 col-6">
              Rating: {{ post.get_rating_display }}
            </p>
            <a href="" class="btn col-6">
              <i class="fa-regular fa-heart"></i> {{ post.likes.count }}
            </a>
          </div>
          {% if user.is_authenticated and user == post.author or user.is_superuser %}
          <div class="row">
          <div class="col-6 text-end">
            <a
              href="{% url 'post_update' post.slug %}"
              class="btn btn-sm btn-info text-light "
              ><i class="fa-solid fa-pencil"></i
            ></a>
          </div>
          <div class="col-6 text-start">
            <a
              href="{% url 'post_delete' post.slug %}"
              class="btn btn-sm btn-danger text-light "
              ><i class="fa-solid fa-trash"></i
            ></a>
          </div>
        </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      {% if is_paginated %}
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
          <li class="mb-4">
            <a
              href="?page={{ page_obj.previous_page_number }}"
              class="page-link btn text-light"
              ><i class="fa-solid fa-arrow-left"></i> PREV</a
            >
          </li>
          {% endif %} {% if page_obj.has_next %}
          <li class="mb-4">
            <a
              href="?page={{ page_obj.next_page_number }}"
              class="page-link btn text-light"
            >
              NEXT <i class="fa-solid fa-arrow-right"></i
            ></a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
    {% endblock %}
  </div>
</div>
