{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %} 
{% if user.is_authenticated and user == post.author or user.is_superuser %}
<div class="container p-4 mb-5 bg-dark-subtle">
  <div class="row mt-5 center">
    <div class="col-12 my-3">
      <h1 class="text-center">Update Post</h1>
    </div>
    <hr>
  </div>
  <div class="row mb-5 d-flex">
    <div class="form-group">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ form|crispy }}
        <div class="text-center">
          <a href="{{request.META.HTTP_REFERER|escape}}" class="btn btn-primary">Back</a>
          <button class="btn btn-success" type="submit">Post</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% else %}
<div class="container p-3 bg-dark-subtle my-5">
    <div class="row m-3 center">
      <div class="col-12 my-5">
        <h3 class="text-center">You must be logged in and the owner of this post to update it</h3>
      </div>
    </div>
  {% endif %} 
  {% endblock %}
</div>
