{% extends 'base.html' %} {% block content %} {% load static %}
<div class="p-4 mt-5 text-center justify-content-center">
  {% if user.is_authenticated and user == post.author or user.is_superuser %}
  <div class="row">
    <div class="col-12 text-end">
      <a
        href="{% url 'post_update' post.slug %}"
        class="btn btn-sm btn-info text-light"
        ><i class="fa-solid fa-pencil"></i
      ></a>
      <a
        href="{% url 'post_delete' post.slug %}"
        class="btn btn-sm btn-danger text-light"
        ><i class="fa-solid fa-trash"></i
      ></a>
    </div>
  </div>
  {% endif %}
  <div class="text-center image-container align-items-center">
    <h2 class="text-center p-3"><u>{{ post.title }}</u></h2>
    {% if post.image %}
    <img
      src="{{ post.image.url }}"
      class="img-fluid rounded border border-white"
      alt="{{post.title}}"
    />
    {% else %}
    <img
      src="{% static 'images/default.jpg' %}"
      class="img-fluid rounded border border-white"
      alt="{{post.title}}"
    />
    {% endif %}
  </div>
  <div class="row border-bottom text-center lh-1 p-3">
    <div class="game-info-read col text-end">
      <p class="fs-6">
        <i class="fa-solid fa-dice"></i> {{post.get_genre_display}}
      </p>
      <p class="fs-6">
        <i class="fa-solid fa-clock"></i>
        {{post.get_play_time_display}}
      </p>
      <p class="fs-6">
        <i class="fa-solid fa-people-group"></i>
        {{post.get_number_of_players_display}}
      </p>
    </div>
    <div class="game-info-read col text-start">
      <p class="fs-6">Ages: {{ post.get_age_range_display }}</p>
      <p class="fs-6">Experience: {{ post.get_experience_display }}</p>
      <p class="fs-6">Cost: {{ post.get_price_range_display }}</p>
    </div>
    <p class="fs-6 rating">Rating: {{ post.get_rating_display }}/ 5</p>
  </div>

  <div class="likes">
    <p class="fs-6 text-center ml-4 mb-0">
      <a href="" class="like-button btn"><i class="fa-regular fa-heart"></i></a>
      {{ post.likes.count }}
    </p>
  </div>
  <div
    class="text-block text-center p-2 m-2 fs-4 justify-content-center">
    <p>{{ post.content|safe|linebreaks }}</p>
    {% endblock content %}
  </div>
</div>
